# Miscellaneous
*.class
*.log
*.pyc
*.swp
*~
.DS_Store
Thumbs.db
ehthumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart
.dart_tool/
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/
**/ios/Flutter/.last_build_id

# Build
build/
coverage/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.cxx/
